@charset "UTF-8";

// CSS RESET LOCATED IN INDEX.HTML

/*
Sass file imports
*/
@import "globals";

/*
Settings for Typesettings
*/
$font-sans: sans-serif;
$font-serif: 'Spectral', serif;
$font-titling: 'Bluu Titling', serif;
$font-mono: monospace;
$text-color: black;
$base-vertical-unit: 6px;
$base-line-multi: 5;
$base-font-size: 14px;
$ms-ratio: 1.414; // 1.414
$paragraph-indent: true; // false
$paragraph-justify: false; // false
$load-typesetted: true; // True is the default value