/*----------------------------------------------
--Typography
@description: Global Type and Fluid Systems
-----------------------------------------------*/

@import "~modularscale-sass";
@import "_fonts";

$modularscale: (
  base: 15px,
  ratio: 1,
  $g-viewport-phone: (
    base: 15px,
    ratio: 1.09
  ),
  $g-viewport-tablet: (
    base: 17px,
    ratio: 1.15
  ),
  $g-viewport-desktop: (
    base: 17px,
    ratio: 1.18
  ),
  $g-viewport-desktop--big: (
    base: 17px,
    ratio: 1.21
  )
);

/*----------------------------------------------   
--Basic Tags
----------------------------------------------*/
@mixin paragraph() {
  @include ms-respond(font-size, 1);
}

/*----------------------------------------------   
--Grand heading
--@description: Massive title
----------------------------------------------*/
@mixin grandHeading() {
  font-family: $font-titling;
  @include ms-respond(font-size, 11);
}

/*----------------------------------------------   
--Paper Theme
----------------------------------------------*/
@mixin paper() {
  .paper {
    font-family: $font-serif;

    @include headings() {
      font-family: $font-titling--subtitle;
    }

    h1 {
      @include ms-respond(font-size, 5);
    }

    h2 {
      @include ms-respond(font-size, 4);
    }

    h3,
    h4,
    h5,
    h6 {
      @include ms-respond(font-size, 3);
    }

    p {
      @include paragraph();
    }
  }
}

/*----------------------------------------------   
--Essay Theme
-----------------------------------------------  */
@mixin essay() {
  .essay {
    @include paper();

    /*------------------------
    --Essay Sections
    ------------------------*/
    [class*="__section"] {
      div > a {
        // only anchor's that are a direct descendent of div, instead of a paragraph
        // potentially buggy
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      @include headings() {
        text-indent: 0;
      }

      h1 {
        line-height: 1.2em;
      }
      h2 {
        font-variant: small-caps;
      }
      h3,
      h4,
      h5,
      h6 {
        line-height: 1.1em;
        text-align: center;
        font-variant: all-small-caps;
        @include ms-respond(font-size, 3);
      }
    }

    /*------------------------
    --Essay Header
    ------------------------*/
    [class*="__header"] {
      font-family: $font-titling--subtitle;

      [class*="__title"] {
        font-family: $font-titling;
        @include ms-respond(font-size, 9);
      }
      [class*="__subtitle"] {
        line-height: 1.3em;
        text-align: right;

        @include ms-respond(font-size, 6);
      }
      [class*="__authors"] {
        line-height: 1em;
        text-align: right;

        @include ms-respond(font-size, 4);
      }
    }

    /*------------------------
    --Essay Abstract
    ------------------------*/
    [class*="__abstract"] {
      [class*="__title"] {
        @include ms-respond(font-size, 5);
      }
    }
  }
}

/*----------------------------------------------   
--Page Theme
----------------------------------------------*/
@mixin page() {
  .page {
    @include paper();
  }
}

/*----------------------------------------------   
--Issue Theme
----------------------------------------------*/
@mixin issue() {
  .issue {
    @include paper();

    .entry {
      line-height: 1.2em;

      @include ms-respond(font-size, 3);

      [class*="__header"] {
        [class*="__title"] {
          font-weight: 300;
          [class*="__subtitle"] {
            font-weight: 200;
            font-style: italic;
          }
        }

        [class*="__authors"] {
          font-weight: 300;
          font-style: italic;
        }
      }

      [class*="__summary"] {
        font-weight: 300;
        [class*="__contents"] {
          line-height: 1.5em;
          @include ms-respond(font-size, 1);
        }
      }
    }
  }
}

/*----------------------------------------------   
--All typography themes
----------------------------------------------*/
@mixin typography() {
  @include headings();

  @include page();
  @include essay();
  @include issue();
}

/*----------------------------------------------
--Fluid body sizing
--Scale 
-----------------------------------------------*/

// body {
//   font-size: 100%;

//   @media (min-width: $mq-small) {
//     font-size: 105%;
//   }
//   @media (min-width: $mq-med) {
//     font-size: 107%;
//   }
//   @media (min-width: $mq-large) {
//     font-size: 113%;
//   }
//   @media (min-width: 75em) {
//     font-size: 119%;
//   }
//   @media (min-width: $mq-xlarge) {
//     font-size: 125%;
//   }
//   @media (min-width: $mq-xxlarge) {
//     font-size: 135%;
//   }
//   @media (min-width: $mq-xxxlarge) {
//     font-size: 150%;
//   }
// }
/*----------------------------------------------   
--H1 Theme
-----------------------------------------------  */
// %font-h1 {
//   margin-bottom: 0.25em;
//   $fontSize: 3.2em;
//   font-size: $fontSize - 1em;
//   line-height: 1.25;

//   @media (min-width: $mq-med) {
//     font-size: $fontSize;
//   }
//   @media (min-width: $mq-xlarge) {
//     font-size: $fontSize + 0.25em;
//   }
// }

// /*----------------------------------------------
// --H2 Theme
// -----------------------------------------------*/
// %font-h2 {
//   margin-bottom: 0.25em;
//   $fontSize: 1.8em;
//   font-size: $fontSize;
//   line-height: 1.2;

//   @media (min-width: $mq-xlarge) {
//     font-size: $fontSize + 0.25em;
//   }
// }

// /*----------------------------------------------
// --H3 Theme
// -----------------------------------------------*/
// %font-h3 {
//   margin-bottom: 0.6em;
//   $fontSize: 1.3em;
//   font-size: $fontSize;
//   line-height: 1.2;

//   @media (min-width: $mq-xlarge) {
//     font-size: $fontSize + 0.25em;
//   }
// }
// /*----------------------------------------------
// --H4 Theme
// -----------------------------------------------*/
// %font-h4 {
//   margin-bottom: 0.5em;
//   $fontSize: 1.25em;
//   font-size: $fontSize;
//   font-weight: 400;
//   line-height: 1.4;

//   @media (min-width: $mq-xlarge) {
//     font-size: $fontSize + 0.25em;
//   }
// }

// /*----------------------------------------------
// --H5 Theme
// -----------------------------------------------  */
// %font-h5 {
//   margin-bottom: 0.4em;
//   $fontSize: 1em;
//   font-size: $fontSize;
//   line-height: 1.4;
// }
// /*----------------------------------------------
// --Headings
// @description: apply our type scale themes
// @see scss/tools/_extends.scss
// -----------------------------------------------  */
// h1 {
//   font-family: $font-paragraph;
//   letter-spacing: 0.02em;
// }

// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: $font-header;
//   font-weight: 600;
// }

// h1,
// .font-h1 {
//   @extend %font-h1;
// }

// h2,
// .font-h2 {
//   @extend %font-h2;
// }

// h3,
// .font-h3 {
//   @extend %font-h3;
// }

// h4,
// .font-h4 {
//   @extend %font-h4;
// }

// h5,
// .font-h5 {
//   @extend %font-h5;
// }

// /*----------------------------------------------
// -Lead Paragraph Styles
// -----------------------------------------------  */
// .font-lead,
// %font-lead {
//   font-size: 120%;
//   -webkit-hyphens: none;
//   -moz-hyphens: none;
//   -ms-hyphens: none;
//   hyphens: none;
//   margin-bottom: 0.8em;
//   line-height: 1.6;
//   @media (min-width: $mq-med) {
//     font-size: 135%;
//   }
// }

// /*----------------------------------------------
// --Paragraph
// -----------------------------------------------  */
// p {
//   margin-top: 0;
//   margin-bottom: 0.75em;
// }

// small {
//   display: block;
//   margin-bottom: 1em;
//   font-size: 80%;
// }

// /*---------------------------------------------------
// Quotes
// ---------------------------------------------------  */
// q,
// blockquote {
//   margin: 1em auto;
//   padding: 0.5em;
//   font-family: $font-paragraph;
//   font-size: 1.1em;
//   font-weight: 400;
//   font-style: italic;
//   letter-spacing: inherit;
//   line-height: 1.5;
//   text-align: center;
//   color: $color-grey;
// }
// cite {
//   display: block;
//   font-family: $font-header;
//   font-size: 0.6rem;
//   font-weight: 600;
//   font-style: normal;
//   text-transform: uppercase;
//   letter-spacing: 0.2em;
//   color: $color-grey;

//   @media (min-width: $mq-med) {
//     font-size: 1rem;
//   }

//   &:before {
//     //content: "\2014 \0020";
//   }
// }

// /*----------------------------------------
// --Code text
// -----------------------------------------*/
// code,
// kbd,
// pre,
// samp {
//   font-family: monospace, sans-serif;
//   font-size: 1em;
// }
// pre {
//   margin: 0 0 2em;
//   padding: 1.4em 1em 1.6em 2em;
//   font-family: monospace;
//   line-height: 1.9;
//   white-space: pre;
//   white-space: pre-wrap;
//   word-wrap: break-word;
//   text-shadow: -1px 1px 0px rgba(255, 255, 255, 0.3);
//   color: #1e315a;
//   background: #b6dbe4;
//   overflow: hidden;
// }

// /*---------------------------------------------------
// List: Ordered
// ---------------------------------------------------  */
// ol li {
//   padding-bottom: 0.5em;
// }

// ol {
//   counter-reset: li;
//   margin-left: 1.8em;
// }

// ol > li {
//   position: relative;
//   margin-left: -0.5em;
//   padding-bottom: 0.75em;
//   list-style: none;
//   line-height: 1.6;
// }

// ol > li:before {
//   content: counter(li) ".";
//   counter-increment: li;
//   position: absolute;
//   top: -0.03em;
//   left: -1.2em;
//   width: 1em;
//   font-family: $font-subtitle;
//   font-weight: 600;
//   color: $color-grey;
// }

// /*---------------------------------------------------
// Address
// ---------------------------------------------------  */
// address {
//   font-style: normal;

//   span {
//     display: block;
//   }
// }
