//  For import into Root App Component.
//  Avoids global import to prevent multiple copies which override component css.

// CSS RESET LOCATED IN INDEX.HTML

@import "_fonts";
@import "_shadows";

// Objects
@import "_paper";

@import "_settings";
@import "_mixins";
@import "globals";

// Z-index positions of major elements, from high to low
// Necessary for z-index mixin
$z-indexes: ("the-header", "the-footer", "the-main-menu", "the-main");

/**
  Alternate selection colors across a small spectrum of perceptually uniform colors
**/
@mixin selection($n, $color) {
  *:nth-child(#{$n}n) {
    &::selection {
      background: $color;
    }

    &::-moz-selection {
      background: $color;
    }
  }
}
@mixin perceptuallyUniformSelections() {
  $selectionColors: #fbb4ae, #b3cde3, #ccebc5, #decbe4, #fed9a6, #ffffcc;
  @for $i from 1 through length($selectionColors) {
    $color: nth($selectionColors, $i);

    @include selection($i, $color);
  }
}
/**
  End alternate selection colors across a small spectrum of perceptually uniform colors
**/

// Responsive CSS variables
@mixin variables() {
  --g-header-height: 46px;

  @include for-size(phone-only) {
  }
  @include for-size(tablet-portrait-up) {
    --g-header-height: 62px;
  }
  @include for-size(tablet-landscape-down) {
  }
  @include for-size(tablet-landscape-up) {
  }
  @include for-size(desktop-up) {
    --g-header-height: 72px;
  }
  @include for-size(big-desktop-up) {
  }
  @include for-size(tablet-portrait-up) {
    --g-header-height: 62px;
  }
}

/* Generate a single media query for a collection of classes
 https://medium.com/front-end-developers/the-solution-to-media-queries-in-sass-5493ebe16844
 Classes:
  - Paper
 */
@mixin responsive() {
  @include for-size(phone-only) {
    @include paper--phone-only();
  }
  @include for-size(tablet-portrait-up) {
    @include paper--tablet-portrait-up();
  }
  @include for-size(tablet-landscape-down) {
    @include paper--tablet-landscape-down();
  }
  @include for-size(tablet-landscape-up) {
    @include paper--tablet-landscape-up();
  }
  @include for-size(desktop-up) {
    @include paper--desktop-up();
  }
  @include for-size(big-desktop-up) {
    @include paper--big-desktop-up();
  }
}

// Root defaults
// * Relies on responsive variables
@mixin rootDefaults() {
  -webkit-font-smoothing: subpixel-antialiased;

  overflow-wrap: break-word; // Required to prevent strange overflow on root el in mobile

  /*
  * only suppress the focus ring once what-input has successfully started
  */
  /* suppress focus ring on form controls for mouse users */
  &[data-whatintent="mouse"] *:focus,
  &[data-whatintent="touch"] *:focus {
    outline: none !important;
  }

  a {
    color: black;

    &:focus {
      @include focus();
    }
  }

  @include perceptuallyUniformSelections();
}

// Global CSS Variables
:root {
  @include variables();
  @include rootDefaults();

  @include responsive();
}

/*
  GRADIENT HEADER
*/
.o-header {
  top: 0;
  width: 100%; // Extends gradient beyond the edge of the paper
  margin-bottom: 7px; // Optically attractive positioning for title with no gradient cover up on load

  position: sticky;
  z-index: 2; //TODO: use scss function

  @include header-offset();

  @include for-size(tablet-landscape-up) {
    display: block;
    margin-bottom: 35px; // TODO: figure out why 35px aligns title with logo position

    opacity: 1;

    @include header-offset(
      height
    ); // TODO: change all header mixins to this responsive one
  }

  &__gradient {
    overflow-x: hidden;
  }
}

$paper-padding: 1.2em;
.o-header-title {
  position: sticky;
  width: fit-content;
  margin-bottom: 15px;
  margin-left: auto;

  padding-right: 10px;

  padding-left: $paper-padding;
  z-index: 6; //TODO: use scss function // > 5, 5 is default z-index for stuck sticky els

  white-space: nowrap;
  text-align: left;

  @include header-offset();
  @include responsiveTitling();

  @include for-size(tablet-portrait-up) {
    margin-bottom: 65px;

    padding-left: 50px;
  }

  @include for-size(tablet-landscape-up) {
    top: 10px;
  }

  > a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
      outline: 0;
    }

    &:active {
      text-decoration: line-through;
    }
  }
}
/*
  GRADIENT HEADER END
*/

@include headings();
