//  For import into Root App Component.
//  Avoids global import to prevent multiple copies which override component css.

// CSS RESET LOCATED IN INDEX.HTML

/*
    Import font files
*/
$bluu-next-path: "~assets/fonts/BluuNext";
// TODO: Add bluu next copyright notice/license to copyright view/page, retrieve via download : https://velvetyne.fr/fonts/bluu/download/
@font-face {
  font-family: 'Bluu';
  src: url($bluu-next-path + '/bluunext-bold-webfont.woff2') format('woff2'),
       url($bluu-next-path + '/bluunext-bold-webfont.woff') format('woff'),
       url($bluu-next-path + '/bluunext-bold.ttf') format('truetype'),
       url($bluu-next-path + '/bluunext-bold-webfont.svg#bluu_nextbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Bluu';
  src: url($bluu-next-path + '/bluunext-bolditalic-webfont.woff2') format('woff2'),
       url($bluu-next-path + '/bluunext-bolditalic-webfont.woff') format('woff'),
       url($bluu-next-path + '/bluunext-bolditalic.ttf') format('truetype'),
       url($bluu-next-path + '/bluunext-bolditalic-webfont.svg#bluu_nextbold_italic') format('svg');
  font-weight: normal;
  font-style: italic;

}


@font-face {
  font-family: 'Bluu Titling';
  src: url($bluu-next-path + '/BluuNext-Titling.ttf') format('truetype'),
      url($bluu-next-path + '/bluunext-titling.woff2') format('woff2'),
      url($bluu-next-path + '/bluunext-titling.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@import "_settings";
@import "_mixins";
@import "globals";


// Z-index positions of major elements, from high to low
// Necessary for z-index mixin
$z-indexes: ("the-header", "the-footer", "the-main-menu", "the-main");

* {
    color: $text-color;
}

@include headings();

/*
 * only suppress the focus ring once what-input has successfully started
 */

/* suppress focus ring on form controls for mouse users */
[data-whatintent='mouse'] *:focus, [data-whatintent='touch'] *:focus  {
  outline: none !important;
}


/*
    Global Transitions
*/