// Global variables to be given access in every component

// Typesettings utilities
@import "../../node_modules/typesettings/typesettings/settings";
@import "../../node_modules/typesettings/typesettings/internal";
@import "../../node_modules/typesettings/typesettings/functions";
@import "../../node_modules/typesettings/typesettings/mixins";

// Standard mixins
@import "_mixins";
// Project mixins at bottom of file

/*
    Layout
*/
$g-lefter-width: 124px;
$g-header-height: 94px;

    /*
        Responsive Layout
    */
    $g-viewport-phone: 600px;
    $g-viewport-tablet: 900px;
    $g-viewport-desktop: 1200px;
    $g-viewport-desktop--big: 1800px;

/*
    Transitions
*/
$g-transition-router-duration: 500; // in ms

/*
    Color
*/


    /*
        High Contrast
    */


    /*
        Color Schemes
        TODO: implement for 'prefer-color-schemes' media query of OS preference
                prolly just invert the colors...
    */


/*
    Misc
*/


/* 
    Project Specific Mixins
*/


/*
    Cursor
*/

/*
    Mixins
*/
@mixin for-size($size) {
    @if $size == phone-only {
      @media (max-width: $g-viewport-phone - 1px) { @content; }
    } @else if $size == tablet-portrait-up {
      @media (min-width: $g-viewport-phone) { @content; }
    } @else if $size == tablet-landscape-up {
      @media (min-width: $g-viewport-tablet) { @content; }
    } @else if $size == desktop-up {
      @media (min-width: $g-viewport-desktop) { @content; }
    } @else if $size == big-desktop-up {
      @media (min-width: $g-viewport-desktop--big) { @content; }
    }
  }