// Global variables to be given access in every component

// Typesettings utilities
@import "../../node_modules/typesettings/typesettings/settings";
@import "../../node_modules/typesettings/typesettings/internal";
@import "../../node_modules/typesettings/typesettings/functions";
@import "../../node_modules/typesettings/typesettings/mixins";

// Responsive Font System
@import "~rfs/scss";

/*
Settings for Typesettings
*/
$font-sans: sans-serif;
$font-serif: 'Spectral', serif;
$font-titling: 'Bluu Titling', serif;
$font-mono: monospace;
$text-color: black;
$base-vertical-unit: 6px;
$base-line-multi: 5;
$base-font-size: 14px;
$ms-ratio: 1.414; // 1.414
$paragraph-indent: true; // false
$paragraph-justify: false; // false
$load-typesetted: true; // True is the default value

// Standard mixins
@import "_mixins";
// Project mixins at bottom of file

/*
    Layout
*/
$g-lefter-width: 124px;
$g-header-height: 62px; // 62px
$g-header-height--desktop: 100px;
@mixin header-height($media: hand-held, $property: height) {
    $gradient-ratio: 0.8;

    @if $media == hand-held {
        #{$property}: calc(#{$g-header-height / #{$gradient-ratio}});
    } @else if $media == desktop {
        #{$property}: calc(#{$g-header-height--desktop / #{$gradient-ratio}});
    }
}

    /*
        Responsive Layout
    */
    $g-viewport-phone: 600px;
    $g-viewport-tablet: 900px;
    $g-viewport-desktop: 1200px;
    $g-viewport-desktop--big: 1800px;

/*
    Transitions
*/
$g-transition-router-duration: 500; // in ms

/*
    Color
*/


    /*
        High Contrast
    */


    /*
        Color Schemes
        TODO: implement for 'prefer-color-schemes' media query of OS preference
                prolly just invert the colors...
    */


/*
    Misc
*/


/* 
    Project Specific Mixins
*/


/*
    Cursor
*/

/*
    Mixins
*/
@mixin for-size($size) {
    @if $size == phone-only {
      @media (max-width: $g-viewport-phone - 1px) { @content; }
    } @else if $size == tablet-portrait-up {
      @media (min-width: $g-viewport-phone) { @content; }
    } @else if $size == tablet-landscape-down {
        @media (max-width: $g-viewport-tablet - 1px) { @content; }
    } @else if $size == tablet-landscape-up {
      @media (min-width: $g-viewport-tablet) { @content; }
    } @else if $size == desktop-up {
      @media (min-width: $g-viewport-desktop) { @content; }
    } @else if $size == big-desktop-up {
      @media (min-width: $g-viewport-desktop--big) { @content; }
    }
  }